@font-face {
    font-family: "One Piece Manga";
    src: url(one-piece-manga/one\ piece\ font.ttf);
}

body {
    
    text-align: center;
}

/* タイマー */
.count {
    font-size: 60px;
    font-weight: bold;
    color: gray;
    position: fixed;
    z-index: 90;
    margin-top: 0;
    
}

body > div {
    position: relative;
}

/* モンスターが居る場所 */
.battle-field {
    width: 100%;
    height: 370px;
    background-image: url("images/background.jpg");
    top: 30px;
    z-index: 10;
    
}
.battle-field > img {
    width: 300px;
    height: 300px;
    margin-top: 0;
}
.battle-field > p {
    margin: 0;
    font-size: 40px;
}


/* タイピングテキスト */
.wrap {
    font-size: 30px;
    margin: 10px auto 0 auto;
    padding: 30px 40px;
    background-color: #666;
    font-weight: bold;
    color: white;
    width: 80%;
    
}
.wrap > .one-piece {
    margin: 0;
}

/* 正しくタイプされたテキスト */
.typed {
    color: lightgreen;
}
/* ミスタイプ時 */
.mistyped {
    background-color: red;
}

#description {
    position: fixed;
    z-index: 100;
    background-color: #FFEDB3;
    width: 100%;
    height: 700px;
}
#description > h1 {
    margin-top: 20px;
    font-size: 100px;
    font-family: "One Piece Manga";
}
#description > h1 > span {
    font-size: 150px;
}
#description > p {
    font-size: 30px;
}